---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>

  <div slot="hero" class="container mx-auto py-20 text-white">
    <div class="max-w-screen-xl mx-auto">
      <div class="max-w-prose">
        <h1 class="text-4xl">Beautiful custom websites with zero ongoing costs or maintenance.</h1>
        <p class="text-4xl pt-6">No worries.</p>
      </div>
    </div>
  </div>

  <div class="w-full h-screen grid items-center justify-items-center">
    <p>Welcome!</p>
  </div>

</MainLayout>