---
export interface Props {
	background?: string;
	classes?: string;
}
const { background = "", classes = "" } = Astro.props;
---

<div class={background}>
  <div class={`max-w-screen-lg mx-auto px-4 xs:px-10 ${classes}`}>
		<slot/>
	</div>
</div>