---
import Logo from "./SVG/Logo.astro";
const currentPage = Astro.url.pathname;

import { SITE } from "../config";
---

<header>
  <nav title="Main Navigation" class="flex flex-wrap justify-between">
    <a class="grid items-center h-20 lg:h-20 basis-1/2" href="/">
      <Logo width={250} />
    </a>

    <div>
      <ul class="flex flex-col lg:flex-row gap-6 mr-10">
        {
          SITE.navItems.map((item) => {
            if (item.hide) return null;
            else
              return (
                <li class={item.url == currentPage ? "font-bold" : ""}>
                  <a
                    href={item.url}
                    title={item.hoverText}
                  >
                    {item.displayText}
                  </a>
                </li>
              );
          })
        }
      </ul>
    </div>
  </nav>
</header>
